#question_summary_results {
  text-align: center;
  margin: 20px auto;
}

#question_summary_list {
  text-align: center;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.question_summary_result {
  height: 40px;
  line-height: 40px;
  margin: 8px auto;
  vertical-align: middle;
  width: 400px;
}

#question_summary_review {
  text-align: center;
  margin-top: 20px;
}

.summary-item {
  height: inherit;
  width: inherit;
}
